<h1>Power Level calculator</h1>
{{ title }}

<br><br>


  <form (submit) = "calcPower()">
      Initial Power:
    <select type = 'number' [(ngModel)] = 'powerLevel' name = 'powerLevel'>
      <option>1</option>
      <option>10</option>
      <option>100</option>
      <option>1000</option>
    </select>

    <input type = 'submit' value = 'Power-up!'>

  </form> 










<app-human [power]="power" ></app-human>
<app-saiyan [power]="power" ></app-saiyan>
<app-supersaiyan [power]="power" ></app-supersaiyan>
<app-supersaiyan2 [power]="power" ></app-supersaiyan2>
<app-supersaiyan3 [power]="power" ></app-supersaiyan3>
<app-supersaiyan4 [power]="power" ></app-supersaiyan4>